body {
    background: linear-gradient(-225deg, #20E2D7 0%, #F9FEA5 100%);
}

.div1 {
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 150%;
    background-color: white;
    opacity: 0.8; 
    margin-left: 05%;
    margin-right: 05%; 
}
.div2 {
    text-align: center;
    color: black;
    font-family: cursive;
    font-size: 150%;
    background-color: white;
    opacity: 0.8;
    margin-left: 05%;
    margin-right: 05%; 
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover{
    background-color: gray;
}
.dropdown{
    display: inline-block;
position: relative;
}
.drop1{
    display: none;
    position: absolute;
    min-width: 80%;
}
.drop1 a{
    text-align:center;
    color: black;
    text-decoration: none;
    padding: 12px 16px;
}
li a, .drop{
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;

}
li a:hover, .dropdown:hover .drop{
    background-color: whitesmoke;
}
.drop1 a:hover{
    background-color: turquoise;
}
.dropdown:hover .drop1{
    display: block;
}
.footer{
    font-family: monospace;
    font-size: 30px;
    border: black;
    color: white;
    background-color: black;
    border-width: 20px;
    border-style: dotted;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    text-align: center;
}
.footer1{
    font-family: monospace;
    font-size: 15px;
    border: black;
    color: white;
    background-color: black;
    border-width: 10px;
    border-style: dotted;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    text-align: center;
  }
